
{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
          <img class="rounded-circle article-img" src="\static\profile_pics\notice.jpg">
          <div class="media-body">
            <div class="article-metadata">
              <div class="mr-2">youngine</div>
            </div><br>
            <h2 class="article-title"> <mark>This is my first flask blog!</mark> </h2>
            <p class="article-content">
                <h5>Hompage</h5>
                I used Bootstrap classes to define the base template.
                I then extended and redefined the template using Jinja2 template syntax
                and organized the them into blocks.
                <p><br>
                    <h5>User Authentication</h5>
                    <ul>
                        <li>Authentication Extensions for Flask</li>
                        <li>Password Security
                        <li>Hashing Passwords with Werkzeug
                        <li>Creating an Authentication Blueprint
                        <li>User Authentication with Flask-Login</li>
                        <li>Preparing the User Model for Logins</li>
                        <li>Protecting Routes</li>
                        <li>Adding a Login Form</li>
                        <li>Signing Users In</li>
                        <li>Signing Users Out</li>
                        <li>Testing Logins</li>
                        <li>New User Registration</li>
                        <li>Adding a User Registration Form</li>
                        <li>Registering New Users</li>
                        <li>Account Confirmation</li>
                        <li>Generating Confirmation Tokens with itsdangerous</li>
                        <li>Sending Confirmation Emails</li>
                        <li>Account Management</li>
                    </ul>
                </p><br
                <p>
                    <h5>User Profiles</h5>
                    <ul>
                        <li>Profile Information</li>
                        <li>User Profile Page</li>
                        <li>Profile Editor</li>
                    </ul>
                </p><br
                <p>
                    <h5>Blog Posts </h5>
                        <ul>
                            <li>Blog Post Submission and Display</li>
                            <li>Blog Posts on Profile Pages</li>
                            <li>Paginating Long Blog Post Lists</li>
                            <li>Creating Fake Blog Post Data</li>
                            <li>Rendering Data on Pages</li>
                            <li>Adding a Pagination Widget</li>
                        </ul>
                </p><br
                <p>
                    <h5>Application Programming Interfaces </h5>
                    <ul>
                        <li>Creating an API Blueprint</li>
                        <li>Error Handling</li>
                        <li>User Authentication with Flask-HTTPAuth</li>
                        <li>Token-Based Authentication</li>
                        <li>Serializing Resources to and from JSON</li>
                </ul>
                </p><br
            </p>
          </div>
        </article>
{% endblock content %}
