{% extends "layout.html" %}
{% block content %}
  <article class="media content-section mb-5">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-outline-success btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-outline-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>

    {% if current_user.is_authenticated %}
      <legend class="border-bottom mb-4 border-top">Leave a comment</legend>
      <article class="media content-section">  
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_posts', username=current_user.username) }}">{{ current_user.username }}</a>
        </div>
        <form method="POST" action="" >
          {{ form.hidden_tag() }}
          <div class="container">
            <div class="row">
              <div class="col-10">
              {% if form.content.errors %}
                  {{ form.content(class="form-control form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.content.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.content(class="form-control form-control-sm") }}
              {% endif %}
              </div>
              <div class="col">
              {{ form.submit(class="btn btn-outline-info mb-3") }}
              </div>
            </div>
          </div>
        </form>
      </div>
      </article>
    {% endif %}
    {% if not current_user.is_authenticated %}
    <legend class="border-bottom mb-4 border-top">Leave a comment (Login required)</legend>
    <article class="media content-section">  
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + 'default.jpg') }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2">user</a>
          </div>
          <form method="POST" action="" >
            {{ form.hidden_tag() }}
            <div class="container">
              <div class="row">
                <div class="col-10">
                  {{ form.content(class="form-control form-control-sm") }}
                </div>
                <div class="col">
                {{ form.submit(class="btn btn-outline-info mb-3") }}
                </div>
              </div>
            </div>
          </form>
        </div>
        </article>
    {% endif %}
    {% for comment in comments %}
    <article class="media content-section">  
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a>
          <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <p class="article-content">{{ comment.content }}</p>
      </div>
    </article>
  </fieldset>
    {% endfor %}

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}